@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  font-style: normal;
  font-family: "Nanum Gothic", sans-serif;
}

ul,
ol,
li,
dl {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

hr {
  display: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-border-radius: 1px;
  -webkit-apprearance: none;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: visible;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  vertical-align: top;
  border-radius: 0;
  -webkit-border-radius: 1px;
  -webkit-apprearance: none;
}

html,
body {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  font-size: 100%;
  background-color: #fff;
}
